In [4]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [18]:
df = pd.read_csv("cgpa.csv")
df

    cgpa  package
0   2.90      1.8
1   3.10      2.4
2   3.10      3.0
3   3.40      3.1
4   3.30      3.2
5   3.80      3.3
6   3.90      3.5
7   3.70      3.6
8   3.44      3.8
9   3.80      3.9
10  3.00      4.0
11  3.10      4.1
12  3.20      4.2
13  3.30      4.3
14  3.40      4.4
15  3.50      4.5
16  3.60      4.6
17  3.70      4.7
18  3.80      4.8
19  3.90      4.9
20  4.00      5.0
21  4.10      5.1
22  4.20      5.2
23  4.30      5.3
24  4.40      5.4
25  4.50      5.5
26  4.60      5.6
27  4.70      5.7
28  4.80      5.8
29  4.90      5.9
30  5.00      6.0
31  5.10      6.1
32  5.20      6.2
33  5.30      6.3
34  5.40      6.4
35  5.50      6.5
36  5.60      6.6
37  5.70      6.7
38  5.00      6.8
39  5.90      6.9

In [68]:
# x = df[["cgpa"]]
x = df.iloc[:,:-1]
x

    cgpa
0   2.90
1   3.10
2   3.10
3   3.40
4   3.30
5   3.80
6   3.90
7   3.70
8   3.44
9   3.80
10  3.00
11  3.10
12  3.20
13  3.30
14  3.40
15  3.50
16  3.60
17  3.70
18  3.80
19  3.90
20  4.00
21  4.10
22  4.20
23  4.30
24  4.40
25  4.50
26  4.60
27  4.70
28  4.80
29  4.90
30  5.00
31  5.10
32  5.20
33  5.30
34  5.40
35  5.50
36  5.60
37  5.70
38  5.00
39  5.90

In [69]:
y = df.iloc[:,-1]
y

0     1.8
1     2.4
2     3.0
3     3.1
4     3.2
5     3.3
6     3.5
7     3.6
8     3.8
9     3.9
10    4.0
11    4.1
12    4.2
13    4.3
14    4.4
15    4.5
16    4.6
17    4.7
18    4.8
19    4.9
20    5.0
21    5.1
22    5.2
23    5.3
24    5.4
25    5.5
26    5.6
27    5.7
28    5.8
29    5.9
30    6.0
31    6.1
32    6.2
33    6.3
34    6.4
35    6.5
36    6.6
37    6.7
38    6.8
39    6.9
Name: package, dtype: float64

In [70]:
from sklearn.model_selection import train_test_split

In [72]:
x_train,x_test,y_train,y_test = train_test_split(x,y,train_size=0.2,random_state=42)

In [73]:
from sklearn.linear_model import LinearRegression
from sklearn.tree import DecisionTreeRegressor
from sklearn.svm import SVR

In [74]:
lr = LinearRegression()
lr.fit(x_train,y_train)
lr.score(x_train,y_train)*100,lr.score(x_test,y_test)*100

(80.18658885791753, 75.70628583421679)

In [75]:
lr.predict(x_test)
y_test

19    4.9
16    4.6
15    4.5
26    5.6
4     3.2
12    4.2
37    6.7
27    5.7
39    6.9
6     3.5
25    5.5
9     3.9
13    4.3
31    6.1
34    6.4
8     3.8
17    4.7
24    5.4
0     1.8
33    6.3
5     3.3
11    4.1
1     2.4
29    5.9
21    5.1
2     3.0
30    6.0
36    6.6
3     3.1
35    6.5
23    5.3
32    6.2
Name: package, dtype: float64

In [76]:
d1 = DecisionTreeRegressor()
d1.fit(x_train,y_train)
d1.score(x_train,y_train)*100,d1.score(x_test,y_test)*100

(100.0, 62.652729409365804)

In [77]:
cl1 = SVR()
cl1.fit(x_train,y_train)
cl1.score(x_train,y_train)*100,cl1.score(x_test,y_test)*100

(76.53131279344119, 56.795595526888164)

## Ensamle technique

In [78]:
from sklearn.ensemble import VotingRegressor

In [79]:
l1= [('ln',LinearRegression()),('dt1',DecisionTreeRegressor()),('svr1',SVR())]

In [80]:
v1 = VotingRegressor(l1)
v1.fit(x_train,y_train)
v1.score(x_train,y_train)*100, v1.score(x_test,y_test)*100

(91.00907683394595, 72.50666177777177)

In [81]:
pred = {'lr':lr.predict(x_test),'dt':d1.predict(x_test),'svm':cl1.predict(x_test),'vr':v1.predict(x_test)}

In [82]:
lr.predict(x_test)
# d1.predict(x_test)
# cl1.predict(x_test)
# v1.predict(x_test)

array([4.83140039, 4.42477318, 4.28923077, 5.78019724, 4.01814596,
       3.88260355, 7.27116371, 5.91573964, 7.54224852, 4.83140039,
       5.64465483, 4.69585799, 4.01814596, 6.45790927, 6.86453649,
       4.20790533, 4.56031558, 5.50911243, 3.47597633, 6.72899408,
       4.69585799, 3.74706114, 3.74706114, 6.18682446, 5.10248521,
       3.74706114, 6.32236686, 7.1356213 , 4.15368836, 7.0000789 ,
       5.37357002, 6.59345168])

In [83]:
pd.DataFrame(pred)

          lr   dt       svm        vr
0   4.831400  5.0  4.801712  4.877704
1   4.424773  3.6  4.497143  4.173972
2   4.289231  4.4  4.396063  4.361764
3   5.780197  5.8  5.663000  5.747732
4   4.018146  4.4  4.213606  4.210584
5   3.882604  4.0  4.146387  4.009663
6   7.271164  6.8  5.285827  6.452330
7   5.915740  5.8  5.793146  5.836295
8   7.542249  6.8  5.125577  6.489275
9   4.831400  5.0  4.801712  4.877704
10  5.644655  5.2  5.522273  5.455643
11  4.695858  4.8  4.700482  4.732113
12  4.018146  4.4  4.213606  4.210584
13  6.457909  6.8  5.967775  6.408561
14  6.864536  6.8  5.661522  6.442020
15  4.207905  4.4  4.337249  4.315052
16  4.560316  3.6  4.599084  4.253133
17  5.509112  5.2  5.381812  5.363641
18  3.475976  4.0  4.131867  3.869281
19  6.728994  6.8  5.789950  6.439648
20  4.695858  4.8  4.700482  4.732113
21  3.747061  4.0  4.106378  3.951146
22  3.747061  4.0  4.106378  3.951146
23  6.186824  5.8  5.969323  5.985382
24  5.102485  5.0  5.011303  5.037929
25  3.747061  4.0  4.106378  3.951146
26  6.322367  6.8  5.993198  6.371855
27  7.135621  6.8  5.398091  6.444571
28  4.153688  4.4  4.299511  4.284400
29  7.000079  6.8  5.526485  6.442188
30  5.373570  5.2  5.248532  5.274034
31  6.593452  6.8  5.896707  6.430053

In [84]:
(4.831400+5.0+4.801712)/3

4.8777040000000005